@import "structure/navigation-section/navigation.css";
@import "structure/scrollbar-section/scrollbar.css";
@import "structure/footer-section/footer.css";
@import "structure/text-section/text.css";

:root {
    font-size: 16px;
    font-family: 'Open Sans', serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --link-primary: #23232e;
    --link-secondary: #00ff00;
    --link-tertiary: #10ab23;
    --link-quaternary: #088d17;
    --transition-speed: 200ms;
}

.container {
    min-height: 100%;
    position: relative;
}

body {
    color: #000000;
    background-color: #f0f8ff;
    margin: 0;
    padding-bottom: 1.5rem;
}

footer {
    bottom: 0;
    width: 100%;
    height: 1.5rem;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}