body {
    text-align: center;
    background-color: #f0f8ff;
}

.main-header {
    background-color: #32CD32;
    text-align: center;
    height: 100px;
}

.sidebar {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f0f8ff;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #32CD32;
    color: #000000;
    font-weight: bold;
}

.sidebar a:hover:not(.active) {
    background-color: #727272;
    color: #f0f8ff;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}